body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  
  padding: 10px;
  margin-bottom: 20px;
}

.nav{
  
  border-bottom: 5px solid rgb(0, 154, 23);
  padding-bottom: 20px;
}

.home-page-reviews {
  list-style: none;
  text-align: center;
  margin-top: 1em;
  max-width: 20em;
  line-height: 1.2em;
}

.home-page-image {
  width: 250px;
  height: 200px;
  object-fit:cover;
  margin-top: 10px;
  border-radius: 80px;
}

.home-page-review-button {
  margin: 50px;
  color:rgb(0, 154, 23)
}
.reviews-container{
  border-top: 5px solid rgb(0, 154, 23);
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  background-color: rgb(230, 230, 230);
}

.reviews {
  list-style: none;
  text-align: center;
  margin-top: 1em;
  max-width: 20em;
  line-height: 1.2em;
}

.review-button {
  color: black;
  padding: 3px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  align-content: center;
}

.review-button:hover {
  color:white;
  background-color: black;
}

.review-page-image {
  width: 250px;
  height: 200px;
  object-fit:cover;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  border: 20px solid rgb(0, 154, 23);
}

.review-page-image:hover {
  opacity: 80%;
  cursor: pointer;
  border: 20px double rgb(0, 154, 23);
}

.review-image {
  width: 250px;
  height: 200px;
  object-fit:cover;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  border: 30px solid rgb(0, 154, 23);
  
}

.review-text {  
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
  width: auto;
  background-color:rgb(255, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.review-text::first-letter{
  font-size: 35px;
  font-family:sans-serif
}

.comments {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  line-height: 2;
  list-style: none;
  border-radius: 20px;
  border: 2px solid rgb(0, 154, 23);
  margin: 10px;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.comments:hover {
  border: 2px double rgb(0, 154, 23);
}

.timestamp {
  line-height: 1;
  font-size: smaller;
  font-weight: bolder;
}


.footer {
  border-top: 5px solid rgb(0, 154, 23);
  padding: 20px;
  margin: 40px;
}

.votes-button__up, .votes-button__down{
  font-size: larger;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color:rgb(247, 239, 229);
  cursor: pointer;
}

.votes-button__up:hover, .votes-button__down:hover{
  background-color:rgb(186, 177, 166);
  cursor: pointer;
}

.commentAdder{
  border-radius: 20px;
  border: 2px solid rgb(0, 154, 23);
  width: 20em;
  margin: 10px;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

.commentAdder:focus{
  outline: none;
  border: 2px solid rgb(29, 65, 210);
  margin: 10px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.cancel-button {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  border-radius: 50px;
  margin-left: 2px;
  margin-right: 2px;
  background-color:rgb(255, 255, 255);
}

.cancel-button:hover{
  background-color:rgb(177, 177, 177);
  cursor: pointer;
}

.add-comment-button{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  padding: 10px;
  border: 0px;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 12px;
  background-color:rgb(216, 216, 216);
}

.add-comment-button:hover {
  cursor: pointer;
  background-color: rgb(0, 154, 23);
}

.add-comment-button:active {
  cursor: pointer;
  padding: 8px;
  border: 2px solid rgb(0, 0, 0);
}

.commentHandles{
  color: rgb(109, 109, 109);
  display: inline;
  margin-right: 2em;
  background-color: rgba(219, 218, 218, 0.327);
  border-radius: 5em;
  padding: 0.3em;
}

.line{
  margin-top: 1em;
  height: 2px;
  width: 15em;
  background-color: black;
}