body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.reviews {
  text-align: left;
}

.review-button {
  margin-top: 10px;
  margin-bottom: 30px;
  align-content: center;
  background-color: rgb(53, 239, 177);
  border: 3px solid rgb(0, 154, 23);
}

.review-page-image {
  width: 500px;
  height: 400px;
  object-fit:cover;
  margin-top: 5px;
  border-radius: 40px;
  border: 30px solid rgb(0, 154, 23);
}

.review-page-image:hover {
  border: 30px solid rgb(26, 114, 84);
  opacity: 80%;
  cursor: pointer;
}

.review-image {
  width: 250px;
  height: 200px;
  object-fit:cover;
  margin-top: 5px;
  border-radius: 40px;
  border: 30px solid rgb(0, 154, 23);
}

.review-text {  
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  width: auto;
  background-color:rgb(247, 239, 229);
}
