body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.reviews {
  text-align: left;
  margin-bottom: 10px;
}

.review-button {
  margin: 5px;
  padding: 3px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  align-content: center;
}

.review-page-image {
  width: 500px;
  height: 400px;
  object-fit:cover;
  margin-top: 5px;
  border-radius: 40px;
  border: 30px solid rgb(0, 154, 23);
}

.review-page-image:hover {
  border: 30px solid rgb(26, 114, 84);
  opacity: 80%;
  cursor: pointer;
}

.review-image {
  width: 250px;
  height: 200px;
  object-fit:cover;
  margin-top: 5px;
  border-radius: 40px;
  border: 30px solid rgb(0, 154, 23);
}

.review-text {  
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  width: auto;
  background-color:rgb(247, 239, 229);
}

.comments {
  text-align: left;
  line-height: 2;
  list-style: none;
  border-radius: 20px;
  border: 15px solid rgb(0, 154, 23);
  margin: 10px;
  padding: 10px;
}

.timestamp {
  line-height: 1;
  font-size: smaller;
  font-weight: bolder;
}

.home-page-review-container {
  list-style: none;
  margin: 3px;
}

.home-page-reviews {
  text-align: left;
  margin-bottom: 5px;
}

.home-page-image {
  width: 250px;
  height: 200px;
  object-fit:cover;
  margin-top: 5px;
  border-radius: 40px;
  border: 30px solid rgb(0, 154, 23);
}

.home-page-review-button {
  margin: 50px;
  color:rgb(0, 154, 23)
}

.footer {
  border-top: 5px solid rgb(0, 154, 23);
  padding: 20px;
  margin: 40px;
}

.votes-button{
  margin: 2px;
  font-size:large;
  background-color:rgb(166, 165, 165);
}